* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quizWrappepr {
  margin: 50px auto;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quizWrappepr h1 {
  margin-bottom: 50px;
}

.question {
  border: 1px solid red;
  padding: 15px;
  border: 2px solid #ddd;
  max-width: 800px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 2px solid rgb(66, 2, 186);
  font-size: 1.2rem;
  width: 800px;
  max-width: 800px;
}

.answers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.answers > div {
  width: 800px;
  max-width: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.answer {
  cursor: pointer;
}

.answer:hover {
  border: 2px solid rgb(66, 2, 186);
}

.answer span:first-child {
  background-color: rgb(66, 2, 186);
  font-size: 32px;
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
}

.btnWrapper {
  margin-top: 50px;
}

.btnWrapper button {
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid rgb(66, 2, 186);
}

.btnWrapper button:disabled {
  background-color: #ddd;
  border: 2px solid darkgray;
}

.btnWrapper button:disabled:hover {
  background-color: #ddd;
  color: darkgray;
}

.btnWrapper button:hover {
  color: #fff;
  background-color: rgb(66, 2, 186);
}

@media screen and (max-width: 768px) {
  .answers {
    flex-direction: column;
    align-items: center;
  }
}
